/* 

============**Table-Content**===========

1.Header

2.Banner

3.Testimonials
    

4.Video Testimonials
    

5.newsletter

6.Client-feedback
   

7.Case Studies

8.Partner
   

9.Footer

========== // End of Table Content \\ ===========
*/

@font-face {
  src: url('../fonts/Montserrat-Regular.otf');
  font-family: Mregular;
}

@font-face {
  src: url('../fonts/Montserrat-Bold.otf');
  font-family: Mbold;
}

@font-face {
  src: url('../fonts/Exo-Bold.otf');
  font-family: Ebold;
}
